.main-features {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.feature-block {
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feature-block img {
    width: 75%;
}


.feature-btn {
    background-color: #fff;
    border: none;
    color: #999;
    font-weight: bold;
    font-size: 20px;

    padding: 7px 15px;
    /* width: 140px;
    height: 35px; */
    cursor: pointer;
    transition: .7s;
    margin-right: 15px;
}

.feature-btn:hover {
    background-color: #3157dc;
    color: #fff;
}

.feature-btn.active {
    background-color: #3157dc;
    color: #fff;
}

.feature-tab {
    /* display: flex;
    justify-content: space-between;
    width: 75%; */
}

.feature-content {
    margin-top: 40px;
    line-height: 1.5;
}

.feature-content p {
    margin-bottom: 25px;
    color: #999;
    font-size: 15px;
    width: 82%;
}

.feature-content p > i {
    margin-right: 10px;
    color: #19ca94;
}